* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgb(170, 15, 175), rgba(199, 193, 193, 0.733));
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 80%;
    max-width: 500px;
    height: auto;
    background: rgba(255, 255, 255, 0.205);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

input {
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0);
    margin: 1rem;
    width: 80%;
    max-width: 300px;
    height: 10%;
    border-radius: 1rem;
    padding: 2%;
    border: 1px solid blueviolet;
    color: blueviolet;
    font-weight: bolder;
}

h1 {
    color: white;
    filter: drop-shadow(3px 2px 2px blueviolet);
}

input[type="button"] {
    padding: 1%;
    width: 40%;
    max-width: 200px;
    height: 10%;
    color: blueviolet;
    font-weight: bolder;
    border: 1px solid blueviolet;
}

input::placeholder {
    color: white;
}

input[type="button"]:hover {
    color: white;
    background: blueviolet;
    transition: all 0.5s;
}

.container::before,
.container::after {
    content: '';
    position: absolute;
    width: 150px;
    height: 150px;
    background: blueviolet;
    border-radius: 50%;
    z-index: -1;
}

.container::before {
    bottom: -30px;
    left: -30px;
}

.container::after {
    right: -20px;
    top: -20px;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
    
    input {
        width: 90%;
    }
    
    input[type="button"] {
        width: 60%;
    }
}
